@model NZBDash.UI.Models.NzbGet.NzbGetViewModel
@{
    ViewBag.Title = "NzbGet";
}

<h2>@ViewBag.Title</h2>
<h3>@Model.DownloadSpeed</h3>
<h3>@Model.Status</h3>


<ul class="nav nav-tabs">
    <li id="HomeTab" role="presentation" class="active"><a id="Home" href="#">Home</a></li>
    <li id="HistoryTab" role="presentation"><a id="History" href="#">History</a></li>
    @*<li role="presentation"><a href="#">Messages</a></li>*@
</ul>

<div id="ContentArea"></div>

@section scripts
{
    @Scripts.Render("~/bundles/gridster")
    @Styles.Render("~/Content/gridster")

    <script src="~/Scripts/Highcharts.js"></script>
    <script src="~/Scripts/Dashboard.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>

    <script>
        $.ajax("@Url.Action("GetNzbGetDownloadInformation")").success(function(view) {
            $('#ContentArea').html(view);
        });

        $('#History').click(function() {
            $.ajax("@Url.Action("GetNzbGetDownloadHistory")").success(function(view) {
                $('#ContentArea').html(view);
                $('#HomeTab').removeClass("active");
                $('#HistoryTab').addClass("active");
            });
        });

        $('#Home').click(function () {
            $.ajax("@Url.Action("GetNzbGetDownloadInformation")").success(function(view) {
                $('#ContentArea').html(view);
                $('#HomeTab').addClass("active");
                $('#HistoryTab').removeClass("active");
            });
        });
    </script>
}