@using NZBDash.UI.Helpers
@{
    ViewBag.Title = "NzbGet";
}

<h2>@ViewBag.Title</h2>
<h3 id="status"></h3>


<ul class="nav nav-tabs">
        <li id="HomeTab" role="presentation" class="active"><a id="Home" href="#">Home</a></li>
        <li id="HistoryTab" role="presentation"><a id="History" href="#">History</a></li>
    </ul>


<div class="DownloadArea">
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-12 h6 text-center">
                    @Html.LoadingSpinner()
                </div>
            </div>
        </div>
    </div>
    </div>
<div id="HistoryArea"></div>




@section scripts
{

    <script>
        $(function () {
            setInterval(function() {

                    $.ajax("@Url.Action("GetNzbGetDownloadInformation")").success(function(view) {
                        $('#DownloadArea').html(view);
                    });


                    $.ajax("@Url.Action("GetNzbGetStatus")").success(function(data) {
                        $('#status').html(data.Status);
                    });
                }, 2000);

            $('#History').click(function() {
                $.ajax("@Url.Action("GetNzbGetDownloadHistory")").success(function(view) {
                    $('#HistoryArea').html(view);
                    $('#HomeTab').removeClass("active");
                    $('#HistoryTab').addClass("active");
                    $('#DownloadArea').hide();
                    $('#HistoryArea').show();
                });
            });

            $('#Home').click(function () {
                $.ajax("@Url.Action("GetNzbGetDownloadInformation")").success(function (view) {
                    $('#ContentArea').html(view);
                    $('#HomeTab').addClass("active");
                    $('#HistoryTab').removeClass("active");
                    $('#DownloadArea').show();
                    $('#HistoryArea').hide();
                });
            });

        });
    </script>

}
