@model NZBDash.UI.Models.ViewModels.Settings.AlertSettingsViewModel
@*TODO: Resource*@

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="cpuModal">Email Settings</h4>
</div>
@using (Html.BeginForm("UpdateEmailSettings", "AlertSettings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-group row">
            @Html.LabelFor(model => model.EmailHost, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(x => x.EmailHost, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Port, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(x => x.Port, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Alert, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.CheckBoxFor(x => x.Alert, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button id="CpuSaveBtn" type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
}



<script>
    $(function () {
        $('#Alert').bootstrapSwitch();
    });
</script>
