@model NZBDash.UI.Models.ApplicationConfigurationViewModel

@{
    var panel = Model.Id + "panel";
}

<div id="@panel" class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>@Model.ApplicationName</strong><div>
            <div class="panel-body">
                @using (Html.BeginForm("UpdateApplicationConfiguation", "ApplicationConfiguration", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => Model.Id)
                    @Html.HiddenFor(x => Model.ApplicationName)
                    <div>
                        @Html.DisplayNameFor(x => x.ApiKey)
                        @Html.EditorFor(x => Model.ApiKey)
                        @Html.ValidationMessageFor(x => Model.ApiKey)
                    </div>
                    <div>
                        @Html.DisplayNameFor(x => x.Username)
                        @Html.EditorFor(x => Model.Username)
                        @Html.ValidationMessageFor(x => Model.Username)
                    </div>
                    <div>
                        @Html.DisplayNameFor(x => x.Password)
                        @Html.EditorFor(x => Model.Password)
                        @Html.ValidationMessageFor(x => Model.Password)
                    </div>
                    <div>
                        @Html.DisplayNameFor(x => x.IpAddress)
                        @Html.EditorFor(x => Model.IpAddress)
                        @Html.ValidationMessageFor(x => Model.IpAddress)
                    </div>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-success col-md-4">Update</button>
                    <div class="col-md-4"></div>
                }

                <button class="remove btn btn-danger col-md-4" id="@Model.Id">Remove</button>
            </div>
        </div>
    </div>
</div>
</div>