@model NZBDash.UI.Models.Hardware.ServerInformationViewModel
<div class="panel panel-default">
    <div class="panel-heading">Server Information</div>
    <div class="panel-body">
        <span>
            <span>
                @Html.DisplayNameFor(x => x.OsFullName)
                @Model.OsFullName;
            </span>
            <span>
                @Html.DisplayNameFor(x => x.OsPlatform)
                @Model.OsPlatform;
            </span>
            <span>
                @Html.DisplayNameFor(x => x.OsVersion)
                @Model.OsVersion;
            </span>
            @Html.DisplayNameFor(x => x.Uptime)
            <span id="UpTimeSpan">

                @Model.Uptime;
            </span>
        </span>
        <span>
@Html.DisplayNameFor(x => x.CpuPercentage)
@Html.DisplayFor(x => x.CpuPercentage)%
</span>
        <span>
@Html.DisplayNameFor(x => x.AvailableMemory)
@Html.DisplayFor(x => x.AvailableMemory) MB
</span>

    </div>
</div>


