<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NZBDash</title>
    @Styles.Render("~/Content/dashboard")
    <link href="/Content/introjs.css" rel="stylesheet" />


  
    @Styles.Render("~/Content/css")
</head>

<body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<div id="wrapper">
    @Html.Partial("Navbars")

    <div id="page-wrapper">
        @RenderBody()
    </div>
</div>

@Scripts.Render("~/bundles/dashboard")
<script src="~/signalr/hubs"></script>

@RenderSection("scripts", required: false)
</body>

</html>

