@model NZBDash.Core.Model.InfoViewModel
@{
    ViewBag.Title = "Status Page";
}
<script language="Javascript" type="text/javascript" src="~/Scripts/ServerStatus.js"></script>

<div>
    @*@Html.Partial("Partials/DiskSpace", Model.DriveInfos);
    @Html.Partial("Partials/RamView", Model.RamInfo);
    @Html.Partial("Partials/NetworkingView");
    @Html.Partial("Partials/LinksView", Model.Links);
    @Html.Partial("Partials/XbmcView", Model.Links.Xbmc);
    @if (Model.SabNzbObject.QueueObject.jobs != null)
    {
        @Html.Partial("Partials/SabNzb", Model.SabNzbObject);
    }
    @Html.Partial("Partials/ServerInfo", Model);*@
    
    @*@Html.Partial("Partials/ProcessBrowser",Model.Processes);*@
</div>