
            <ul class="nav nav-sidebar">
                <li><a href="@Url.Action("NzbGetSettings","Settings")">NZBGet</a></li>
                <li><a href="@Url.Action("SabNzbSettings","Settings")">SabNZB</a></li>
                <li><a href="@Url.Action("SonarrSettings", "Settings")">Sonarr</a></li>
                <li><a href="@Url.Action("CouchPotatoSettings", "Settings")">CouchPotato</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@Url.Action("PlexSettings","Settings")">Plex</a></li>
                @*<li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>*@
            </ul>
            <ul class="nav nav-sidebar">
                @*<li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>*@
            </ul>

      