@using GridMvc.Html
@using NZBDash.Resources
@using NZBDash.UI.Helpers
@using NZBDash.UI.Models.ViewModels.Settings
@model NZBDash.UI.Models.ViewModels.Settings.AlertSettingsViewModel


<div class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-9 col-md-10 main">

            @Html.RenderHeader("Alert Settings")

            <a href="@Url.Action("AlertModal")?alertType=@AlertType.Cpu" data-target="myModal">AddAlert</a>

            <div>
                Type @Html.EnumDropDownListFor(x => x.AlertType)
                <br />
            </div>

            <hr />

            @Html.Grid(Model.AlertRules).Columns(c =>
       {
           c.Add(x => x.AlertType);
           c.Add(x => x.Enabled);
           c.Add(x => x.Percentage);
           c.Add(x => x.ThresholdTime);
           c.Add().RenderValueAs(r => @<a href="@Url.Action("AlertModal")?alertType=@r.AlertType" data-target="myModal">Edit</a>).Encoded(false).Sanitized(false);
           c.Add().RenderValueAs(r => Html.ActionLink("Delete", "DeleteAlert", "Settings", new { id = r.Id }, null)).Encoded(false).Sanitized(false);
       })

            @*<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Alert Rules
                            </div>
                            @if (Model.AlertRules.Count == 0)
                            {
                                <div class="panel-body">
                                    <div class="form-group row">
                                        Nothing to see here! Add a rule above!
                                    </div>
                                </div>
                            }
                            else
                            {
                                foreach (var rule in Model.AlertRules)
                                {
                                    <div class="panel-body">
                                        <div class="form-group row col-md-4">
                                            Type: @rule.AlertType
                                        </div>
                                        <div class="col-md-2">
                                            @Html.ActionLink("Edit", "EditAlert", null, new {@class = "form-control"})
                                        </div>
                                        <div class="col-md-2">
                                            @using (Html.BeginForm("DeleteAlert", "Settings", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ActionLink("Delete", "DeleteAlert", null, new {@class = "form-control"})
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-middle modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @Html.LoadingSpinner()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {


            $("a[data-target=myModal]").click(function (ev) {
                ev.preventDefault();
                var target = $(this).attr("href");

                // load the url and show modal on success
                $("#myModal .modal-content").load(target, function () {
                    $("#myModal").modal("show");
                });
            });

        });
    </script>
}
