@model NZBDash.Core.Model.RamInfoObj
<div class="col-md-4">
    <div class="panel panel-default" id="RamDiv">
        <a class="panel-default" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">

            <div class="panel-heading">Ram</div>
        </a>
        <div class="panel-collapse" id="collapseOne">

            <div class="panel-body">
                <div data-toggle="collapse" data-target="#physical">
                    <h3>Physical Ram</h3>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.PhysicalPercentageFilled" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PhysicalPercentageFilled%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <span id="physical" class="collapse">
                        @Model.AvailablePhysicalMemory out of @Model.TotalPhysicalMemory
                    </span>
                </div>
                <div data-toggle="collapse" data-target="#virtualdiv">
                    <h3>Virtual Ram</h3>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.VirtualPercentageFilled" aria-valuemin="0" aria-valuemax="100" style="width: @Model.VirtualPercentageFilled%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <span id="virtualdiv" class="collapse ">
                        @Model.AvailableVirtualMemory out of @Model.TotalVirtualMemory
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>


