@model NZBDash.Core.Model.SabNzbObject
<div class="col-md-4 col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">Sabnzb</div>
        <div class="panel-body">
            <div class="col-md-4">
                Filenames
            </div>
            <div class="col-md-4">
                MBs
            </div>
            <div class="col-md-4">
                Speed
            </div>
            @foreach (var queue in Model.QueueObject.jobs)
            {
                <div class="col-md-4" style="display:block; overflow:hidden">
                    @queue.filename
                </div>

                    <div class="col-md-4">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100" style="width: @(100 - ((queue.mbleft * 100) / queue.mb))%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        @(queue.mb - queue.mbleft) / @queue.mb
                    </div>

                    <div class="col-md-4">
                        @Model.QueueObject.speed
                    </div>
            }
            <div class="col-md-12">
                History
            </div>
            @foreach (var hist in Model.SabHistory.slots)
            {
                <div class="row">
                    <div class="col-md-8" style="overflow:hidden">
                        @hist.nzb_name
                    </div>
                    <div class="col-md-4">
                        @hist.status
                    </div>
                </div>
            }
            @Model.QueueObject.diskspace1
            @Model.QueueObject.kbpersec

            @Model.SabHistory.total_size
            @Model.SabHistory.diskspace1
        </div>
    </div>
</div>

