@model NZBDash.UI.Models.ViewModels.Sonarr.SonarrEpisodeViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@Model.SeasonTitle</h4>
</div>
<div class="modal-body">
    @foreach (var kvp in Model.EpisodeViewModels)
    {
        <div class="panel panel-default">
            <div class="panel-heading panel-grid">
                @*<h4 class="panel-title">Season @kvp.Key</h4>*@

                <h4 class="col-md-4 panel-title">Episode Number</h4>
                <h4 class="col-md-4 panel-title">Title</h4>
                <h4 class="col-md-4 panel-title">Downloaded</h4>

            </div>
            <div class="panel-body">
                <small>Season @kvp.Key</small>
                <div class="divider"></div>
                <div class="col-md-4">@kvp.Value.Select(c => c.EpisodeNumber).FirstOrDefault()</div>
                <div class="col-md-4">@kvp.Value.Select(c => c.Title).FirstOrDefault()</div>
                <div class="col-md-4">@kvp.Value.Select(c => c.HasFile).FirstOrDefault()</div>

            </div>
        </div>
    }

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
