@model IEnumerable<NZBDash.Common.Models.ViewModels.Sonarr.SonarrSeriesViewModel>

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title

    </div>
    <div class="panel-body">
        @foreach (var series in Model)
        {
            <div class="col-md-12 row grid-row">
            <div class="col-md-2"><img src="@(series.ImageUrls != null ? series.ImageUrls.FirstOrDefault() : string.Empty)"/></div>
                <div class="col-md-2">@series.Title</div>
                <div class="col-md-2">@series.Status</div>
                <div class="col-md-4">@(series.Overview ?? string.Empty)</div>
                <div class="col-md-2">@series.EpisodeCount</div>
            </div>
        }
    </div>
</div>
