@using NZBDash.UI.Helpers
@model IEnumerable<NZBDash.UI.Models.ViewModels.Sonarr.SonarrSeriesViewModel>

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title

    </div>
    <div class="panel-body">
        <div class="col-md-12 row grid-row">
            <strong>
                <div class="col-md-2">Title</div>
                <div class="col-md-2">Status</div>
                <div class="col-md-4 text-center">Overview</div>
                <div class="col-md-2">Episode Count</div>
                <div class="col-md-2">First Aired</div>
            </strong>
        </div>
        <br/>
        <hr/>
        @foreach (var series in Model)
        {
            @*// TODO: add the background image to each series (series.ImageUrls) *@
            <div class="col-md-12 row grid-row">
                <div class="col-md-2 title">
                    <a id="@series.Id" href="@Url.Action("GetEpisodes")?id=@series.Id&title=@(Url.Encode(series.Title))" data-target="myModal">@series.Title</a>
                </div>
                <div class="col-md-2">@series.Status</div>
                <div class="col-md-4">@series.Overview</div>
                <div class="col-md-2">@series.EpisodeCount</div>
                <div class="col-md-2">@series.FirstAired</div>
            </div>
        }
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-middle modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @Html.LoadingSpinner()
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    console.log("t")
        $("a[data-target=myModal]").click(function (ev) {
            ev.preventDefault();
            var target = $(this).attr("href");

            // load the url and show modal on success
            $("#myModal .modal-body").load(target, function() { 
                $("#myModal").modal("show");
            });
        });

</script>
