@using NZBDash.UI.Helpers


@Html.RenderHeader("Dashboard")


<br />
<br />
<br />


<div class="gridster" id="griddy">
    <ul style="list-style: none">
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
            <div id="Drives"></div>
        </li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
            <div id="Links">
            </div>
        </li>

        <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
            <div id="Ram">
            </div>
        </li>

        <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
            <div id="Server">
            </div>
        </li>
    </ul>
</div>




@section scripts
{
    <script>


        $.ajax("@Url.Action("GetDriveInformation")").success(function (view) {
            $('#Drives').html(view);
        });

        $.ajax("@Url.Action("GetLinks")").success(function (view) {
            $('#Links').html(view);
        });

            $.ajax("@Url.Action("GetRam")").success(function (view) {
                $('#Ram').html(view);
            });

        $.ajax("@Url.Action("GetServerInformation")").success(function (view) {
            $('#Server').html(view);
        });
    </script>
}