@using NZBDash.UI.Helpers


@Html.RenderHeader("Dashboard")


<br />
<br />
<br />


<div class="col-md-12">
    <div id="Drives"></div>
</div>
<div class="col-md-12">
    <div class="col-md-4" id="Ram"></div>
    <div class="col-md-5" id="Server"></div>
    @*<div class="col-md-3" id="Links"></div>*@
</div>
<div class="col-md-12">
    <div class="col-md-6">
        @Html.Partial("Partial/_CpuChart")
    </div>
</div>




@section scripts
{
    <script>


        $.ajax("@Url.Action("GetDriveInformation")").success(function (view) {
            $('#Drives').html(view);
        });

        $.ajax("@Url.Action("GetLinks")").success(function (view) {
            $('#Links').html(view);
        });

        $.ajax("@Url.Action("GetRam")").success(function (view) {
            $('#Ram').html(view);
        });

        $.ajax("@Url.Action("GetServerInformation")").success(function (view) {
            $('#Server').html(view);
        });
    </script>
}
