@using NZBDash.UI.Helpers
@model bool

<div>
    @Html.RenderHeader("Dashboard")
</div>

<br />
<br />
<br />

<div class="row">
    <div id="currentDownloads" class="col-md-4" data-step="12" data-intro="Here you can see all of your currently downloading items.">

    </div>
</div>
<div class="row">
    <div class="col-md-12" data-step="13" data-intro="All of your physical drives and their used/free space.">
        <div id="Drives"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6" data-step="14" data-intro="Your current CPU % for the last 60 seconds">
            @Html.Partial("Partial/_CpuChart")
        </div>
        <div class="col-md-4" id="Ram" data-step="15" data-intro="Your servers RAM!"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @*<div class="col-md-3" id="Links"></div>*@
        <div class="col-md-5" id="Server" data-step="16" data-intro="Just some useful information about your server"></div>
    </div>
</div>




@section scripts
{
    <script src="~/Scripts/intro.js"></script>
    <script>

        function ajaxRequests() {
            $.ajax("@Url.Action("GetDriveInformation")").success(function (view) {
                $('#Drives').html(view);
            });

            $.ajax("@Url.Action("GetRam")").success(function (view) {
                $('#Ram').html(view);
            });

            $.ajax("@Url.Action("GetServerInformation")").success(function (view) {
                $('#Server').html(view);
            });

            $.ajax("@Url.Action("GetDownloads")").success(function (view) {
                $('#currentDownloads').html(view);
            });
        }

        $.when(ajaxRequests()).done(function () {
            @if(Model)
            {
                <text>
                    setTimeout(
                        function () {
                            introJs().start();

                            introJs().onexit(function () {
                                $.ajax("@Url.Action("IntroFinished")").success(function () {
                                    console.log("Finished Intro");
                                });
                            });

                        }, 2000);
                </text>
            }
        });

    </script>
}
